<div class="page-wrapper">
  <div class="surf-wrapper">
    <img src="barrel-bottom-corners-round-up.png" alt="Background" class="surf-bg" />

    <div class="navbar">
      <img src="icon-black.png" alt="Logo" class="logo" />
      <ul class="nav-links" [class.open]="menuOpen">
        <li><a href="#">the camp.</a></li>
        <li><a href="#">the experience.</a></li>
        <li><a href="#">the blog.</a></li>
      </ul>
      <img src="book-now-button-black-white.png" alt="Button" class="menu-btn" />
      <button class="hamburger" (click)="toggleMenu()">☰</button>
    </div>

    <!-- block text plus bouton sur le fond d'écran du rouleau-->
    <div class="barrel-text">
      barrel.<br />your.<br />happiness.
    </div>
    <div class="book-now-wrapper">
      <img src="button-green.png" alt="Book Now Button" />
      <span class="book-now-text">BOOK NOW</span>
    </div>

    <!--icone à cheval verticalement sur le fond d'écran du rouleau -->
    <img src="icon-black.png" alt="Icon Black" class="image-centre" />
    
   <!-- block image tente et texte--> 
    <img src="tente.png" alt="Tente" class="tente-img" />
    <div class="experience-title">
      the experience.
    </div>
    <p class="experience-description">
      At Sam’s Surfcamp, we invite you to embark on an unforgettable surfing adventure. Nestled in the heart of Bali our surf camp offers an exhilarating experience for beginners, intermediate surfers, and seasoned wave riders alike.<br><br>
      Dive into the world of surfing with our expert instructors who have years of experience and a deep passion for the sport. Whether you're a first-time surfer looking to catch your first wave or a seasoned pro seeking to enhance your skills, our dedicated team is here to guide you every step of the way.<br><br>
      Immerse yourself in the natural beauty of our surf camp's surroundings. Picture yourself waking up to the sound of crashing waves and feeling the warm sand beneath your feet. With pristine beaches and a vibrant coastal atmosphere, Bali sets the perfect stage for your surf adventure.
    </p>
    <div class="book-now-brown-wrapper">
      <img src="button-brown.png" alt="Book Now Brown Button" />
      <span class="book-now-white-text">BOOK NOW</span>
    </div>

    <!-- block image 3 surfeurs et texte--> 
    
    <img src="trois-surfeurs.png" alt="Surfeurs" class="surfeur-img" />
    <div class="lesson-title">
      the lesson.
    </div>
    <p class="lesson-description">
      At Sam’s Surfcamp, we invite you to embark on an unforgettable surfing adventure. Nestled in the heart of Bali our surf camp offers an exhilarating experience for beginners, intermediate surfers, and seasoned wave riders alike.<br><br>
      Dive into the world of surfing with our expert instructors who have years of experience and a deep passion for the sport. Whether you're a first-time surfer looking to catch your first wave or a seasoned pro seeking to enhance your skills, our dedicated team is here to guide you every step of the way.<br><br>
      Immerse yourself in the natural beauty of our surf camp's surroundings. Picture yourself waking up to the sound of crashing waves and feeling the warm sand beneath your feet. With pristine beaches and a vibrant coastal atmosphere, Bali sets the perfect stage for your surf adventure.
    </p>
    <div class="contact-us-green-wrapper">
      <img src="button-green.png" alt="Contact Us Green Button" />
      <span class="contact-us-white-text">Contact Us</span>
    </div>

    <!-- block blog -->
    <div class="blog-title">
      the blog.
    </div>
    <img src="fille-surf.png" alt="Tente" class="fille-surf-img" />
    <p class="fille-surf-titre-article">3 tips for a super fast take off</p> 
    <p class="fille-surf-date-article">Monday, June 05, 2023</p> 
    <img src="fille-yoga.png" alt="Tente" class="fille-yoga-img" />
    <p class="fille-yoga-titre-article">your perfect stretching routine before your first surfing session</p> 
    <p class="fille-yoga-date-article">Monday, June 05, 2023</p> 
    <img src="planches-surf.png" alt="Tente" class="planches-surf-img" />
    <p class="planches-surf-titre-article">Surfboard shaping and design: behind the scenes of crafting the perfect board</p> 
    <p class="planches-surf-date-article">Sunday, June 04, 2023</p> 
    <img src="vagues-plage.png" alt="Tente" class="vagues-plage-img" />
    <p class="vagues-plage-titre-article">Environmental awareness in surfing: protecting our oceans and beaches</p> 
    <p class="vagues-plage-date-article">Saturday, June 03, 2023</p> 

    <!-- block footer -->
    <div class="footer" ></div>
    <img src="icon-white.png" alt="icone blanc" class="icon-footer" />
    <img src="termAndCondition.png" alt="termes et conditions" class="term-condition-footer" />
    <p class="copyright">Sam’s Surfcamp - all rights reserved</p>
    <p class="camp menu">the camp.</p>
    <p class="blog menu">the blog.</p>
    <p class="experience menu">the experience.</p>
    <p class="events menu">the events.</p>
    
    

  </div>
</div>
